<div class="login-page">
    <div class="login-box box-5 box-i-7 box-m-10 box-p-12">
        <h1>Login</h1>
        <hr>
        <form action="/auth/login" method="POST">
            <input type="email" name="email" id="email" required placeholder="example@email.com">
            <input type="password" name="password" id="password" required placeholder="password">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit">Login</button>
        </form>
        <p class="form-options"><a href="#">Recover <i class="fas fa-key"></i></a> | <a href="signup">Signup <i class="fas fa-user-plus"></i></a></p>
    </div>
</div>