<div class="login-page">
    <div class="login-box box-5 box-i-7 box-m-10 box-p-12">
        <h1>Login</h1>
        <hr>
        <form action="">
            <input type="email" required placeholder="example@email.com">
            <input type="password" required placeholder="password">
            <button>Login</button>
        </form>
        <p class="form-options"><a href="#">Recover <i class="fas fa-key"></i></a> | <a href="#">Signup <i class="fas fa-user-plus"></i></a></p>
    </div>
</div>