<p class="flex-s-a git-link"><a href="https://github.com/lop19029/CSE341node_project"><i class="fab fa-github"></i></a></p>
<p>&copy; <%= new Date().getFullYear();%> <a href="<%= SocialLinks.Copyright %>">CSE 341 - Team 6</a> - All Rights Reserved</p>
