<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Sacred Planner | <%= pageTitle %></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <script src="/js/functions.js" defer></script>
    <% if(PagetoLoad == 'agenda-form') {%>
    <script src="/js/add-agenda.js" defer></script>
    <% } %>
    <script src="https://unpkg.com/sweetalert2@11.1.10/dist/sweetalert2.all.min.js"></script>