<a href="/" class="nav-link">Home Nav Left</a>
<nav>
    <ul>
        <i class="fas fa-times" id="close-btn"></i>
        <li><a href="/" class="<%= PagetoLoad === 'home' ? 'link-active' : '' %>">Home</a></li>
        <li><a href="/about" class="<%= PagetoLoad === 'about' ? 'link-active' : '' %>">About</a></li>
        <li><a href="/services" class="<%= PagetoLoad === 'services' ? 'link-active' : '' %>">Services</a></li>
        <li><a href="/contact" class="<%= PagetoLoad === 'contact' ? 'link-active' : '' %>">Contact</a></li>
        <li><a href="/nothing">404</a></li>
    </ul>
</nav>
<i class="fas fa-bars" id="menu-btn"></i>