<a href="/" class="nav-link"><img src="/img/header/logo-white.png" alt="Page logo"></a>
<nav>
    <ul>
        <i class="fas fa-arrow-right" id="close-btn"></i>
        <li><a href="/" class="<%= PagetoLoad === 'home' ? 'link-active' : '' %>">Home</a></li>
        <li><a href="/auth/login" class="<%= PagetoLoad === 'auth/login' ? 'link-active' : '' %>">Login</a></li>
        <li><a href="/auth/signup" class="<%= PagetoLoad === 'auth/signup' ? 'link-active' : '' %>">Signup</a></li>
    </ul>
</nav>
<i class="fas fa-bars" id="menu-btn"></i>