@import 'marbust-framework/marbust-framework';

//https://coolors.co/de7b06-ff7900-240046-3c096c-5a189a
$color1: #DE7B06;
$color2: #ff7900;
$color3: #240046;
$color4: #3c096c;
$color5: #5a189a;

@import 'partials/fonts';
@import 'partials/layout';
@import 'partials/header';
@import 'partials/login';
@import 'partials/dashboard';
@import 'partials/agenda-form';
@import 'partials/view-agenda';
@import 'partials/footer';