.agenda-form-page {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/banner/dashboard.jpg);
    min-height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 10px;
    .login-box {
        min-height: 200px;
        background: white;
        color: $color1;
        text-align: center;
        padding: 30px 10px;
        box-shadow: 0 3px 7px 0 rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0;
        border-radius: 5px;
        p {
            font-size: 20px;
            font-weight: bold;
            margin: 5px 0px;
        }
        h1 {
            text-transform: uppercase;
        }
        hr {
            border: 1px solid $color2;
            margin: 5px 2px;
            box-shadow: 0 3px 7px 0 rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0;
        }
        #nfoptions {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            span {
                display: block;
                border: 2px solid $color1;
                margin: 5px;
                width: 100px;
                padding: 10px;
                color: $color1;
                cursor: pointer;
                transition: 0.3s;
                font-weight: bold;
                &:hover, &.btn-active {
                    background: $color1;
                    color: white;
                    border-radius: 5px;
                }
            }
        }
        #isNormalMeeting, #finalAgendaOptions {
            display: none;
        }
        form {
            width: 100%;
            input {
                width: 100%;
                margin: 5px 0px;
                font-size: 18px;
                padding: 10px;
                border: 1px solid $color1;
                font-family: inherit;
                border-radius: 5px;
                text-align: center;
                &.invalid {
                    border: 1px solid $color5;
                }
            }
            textarea {
                width: 100%;
                max-width: 100%;
                min-width: 100%;
                height: 150px;
                min-height: 150px;
                max-height: 150px;
                margin: 5px 0px;
                font-size: 18px;
                padding: 10px;
                border: 1px solid $color1;
                font-family: inherit;
                border-radius: 5px;
                text-align: center;
                &.invalid {
                    border: 1px solid $color5;
                }
            }
            button {
                display: block;
                width: 100%;
                max-width: 200px;
                padding: 15px 10px;
                font-family: inherit;
                background: $color1;
                color: white;
                transition: 0.3s;
                border: 0px;
                margin: 10px auto;
                font-weight: bold;
                border-radius: 3px;
                &:hover {
                    cursor: pointer;
                    background: $color3;
                }
                &:disabled {
                    background: gray;
                    cursor: no-drop;
                }
            }
        }
        .form-options {
            a {
                text-decoration: none;
                color: $color1;
                transition: 0.3s;
                &:hover {
                    color: $color3;
                }
            }
        }
    }
}