.login-page {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/banner/login.jpg);
    min-height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    .login-box {
        min-height: 200px;
        background: white;
        color: $color1;
        text-align: center;
        padding: 30px 10px;
        box-shadow: 0 3px 7px 0 rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0;
        border-radius: 5px;
        h1 {
            text-transform: uppercase;
        }
        hr {
            border: 1px solid $color2;
            margin: 5px 2px;
            box-shadow: 0 3px 7px 0 rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0;
        }
        form {
            width: 100%;
            input {
                width: 100%;
                margin: 5px 0px;
                font-size: 18px;
                padding: 10px;
                border: 1px solid $color1;
                font-family: inherit;
                border-radius: 5px;
                text-align: center;
            }
            button {
                display: block;
                width: 100%;
                max-width: 200px;
                padding: 15px 10px;
                font-family: inherit;
                background: $color1;
                color: white;
                transition: 0.3s;
                border: 0px;
                margin: 10px auto;
                font-weight: bold;
                border-radius: 3px;
                &:hover {
                    cursor: pointer;
                    background: $color3;
                }
            }
        }
        .form-options {
            a {
                text-decoration: none;
                color: $color1;
                transition: 0.3s;
                &:hover {
                    color: $color3;
                }
            }
        }
    }
}