<div class="flex-s-a w100p">
    <div class="w50p maxw500px">
        <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_PlsJfM.json" background="transparent" speed="1" style="width: 100%;" loop autoplay></lottie-player>
    </div>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>