<div class="dashboard flex-hc flex-vc">
    <h1 class="tac w100p fs40px mb15px">Agendas</h1>
    <div class="date-box box-3 box-i-4 box-m-5 box-p-10">
        <a href="#" class="date">
            <p class="month">Nov</p>
            <p class="day">15</p>
        </a>
        <div class="options">
            <a href="#"><i class="fas fa-info"></i></a>
            <a href="#"><i class="fas fa-pencil-alt"></i></a>
            <a href="#"><i class="fas fa-print"></i></a>
            <a href="#"><i class="fas fa-trash-alt"></i></a>
        </div>
    </div>
    <div class="date-box box-3 box-i-4 box-m-5 box-p-10">
        <a href="#" class="date">
            <p class="month">Nov</p>
            <p class="day">10</p>
        </a>
        <div class="options">
            <a href="#"><i class="fas fa-info"></i></a>
            <a href="#"><i class="fas fa-pencil-alt"></i></a>
            <a href="#"><i class="fas fa-print"></i></a>
            <a href="#"><i class="fas fa-trash-alt"></i></a>
        </div>
    </div>
    <div class="date-box box-3 box-i-4 box-m-5 box-p-10">
        <a href="#" class="date">
            <p class="month">Nov</p>
            <p class="day">5</p>
        </a>
        <div class="options">
            <a href="#"><i class="fas fa-info"></i></a>
            <a href="#"><i class="fas fa-pencil-alt"></i></a>
            <a href="#"><i class="fas fa-print"></i></a>
            <a href="#"><i class="fas fa-trash-alt"></i></a>
        </div>
    </div>
    <div class="date-box box-3 box-i-4 box-m-5 box-p-10">
        <a href="#" class="date">
            <p class="month">Oct</p>
            <p class="day">30</p>
        </a>
        <div class="options">
            <a href="#"><i class="fas fa-info"></i></a>
            <a href="#"><i class="fas fa-pencil-alt"></i></a>
            <a href="#"><i class="fas fa-print"></i></a>
            <a href="#"><i class="fas fa-trash-alt"></i></a>
        </div>
    </div>
    <div class="date-box box-3 box-i-4 box-m-5 box-p-10">
        <a href="#" class="date">
            <p class="month">Oct</p>
            <p class="day">25</p>
        </a>
        <div class="options">
            <a href="#"><i class="fas fa-info"></i></a>
            <a href="#"><i class="fas fa-pencil-alt"></i></a>
            <a href="#"><i class="fas fa-print"></i></a>
            <a href="#"><i class="fas fa-trash-alt"></i></a>
        </div>
    </div>
    <div class="date-box box-3 box-i-4 box-m-5 box-p-10">
        <a href="#" class="date">
            <p class="month">Oct</p>
            <p class="day">20</p>
        </a>
        <div class="options">
            <a href="#"><i class="fas fa-info"></i></a>
            <a href="#"><i class="fas fa-pencil-alt"></i></a>
            <a href="#"><i class="fas fa-print"></i></a>
            <a href="#"><i class="fas fa-trash-alt"></i></a>
        </div>
    </div>
    <div class="date-box box-3 box-i-4 box-m-5 box-p-10">
        <a href="#" class="date">
            <p class="month">Oct</p>
            <p class="day">15</p>
        </a>
        <div class="options">
            <a href="#"><i class="fas fa-info"></i></a>
            <a href="#"><i class="fas fa-pencil-alt"></i></a>
            <a href="#"><i class="fas fa-print"></i></a>
            <a href="#"><i class="fas fa-trash-alt"></i></a>
        </div>
    </div>
    <div class="date-box box-3 box-i-4 box-m-5 box-p-10">
        <a href="#" class="date">
            <p class="month">Oct</p>
            <p class="day">10</p>
        </a>
        <div class="options">
            <a href="#"><i class="fas fa-info"></i></a>
            <a href="#"><i class="fas fa-pencil-alt"></i></a>
            <a href="#"><i class="fas fa-print"></i></a>
            <a href="#"><i class="fas fa-trash-alt"></i></a>
        </div>
    </div>
    <div class="date-box box-3 box-i-4 box-m-5 box-p-10">
        <a href="#" class="date">
            <p class="month">Oct</p>
            <p class="day">5</p>
        </a>
        <div class="options">
            <a href="#"><i class="fas fa-info"></i></a>
            <a href="#"><i class="fas fa-pencil-alt"></i></a>
            <a href="#"><i class="fas fa-print"></i></a>
            <a href="#"><i class="fas fa-trash-alt"></i></a>
        </div>
    </div>
    <div class="date-box box-3 box-i-4 box-m-5 box-p-10">
        <a href="#" class="date">
            <p class="month">Nov</p>
            <p class="day">15</p>
        </a>
        <div class="options">
            <a href="#"><i class="fas fa-info"></i></a>
            <a href="#"><i class="fas fa-pencil-alt"></i></a>
            <a href="#"><i class="fas fa-print"></i></a>
            <a href="#"><i class="fas fa-trash-alt"></i></a>
        </div>
    </div>
    <div class="date-box box-3 box-i-4 box-m-5 box-p-10">
        <a href="#" class="date">
            <p class="month">Nov</p>
            <p class="day">15</p>
        </a>
        <div class="options">
            <a href="#"><i class="fas fa-info"></i></a>
            <a href="#"><i class="fas fa-pencil-alt"></i></a>
            <a href="#"><i class="fas fa-print"></i></a>
            <a href="#"><i class="fas fa-trash-alt"></i></a>
        </div>
    </div>
    <div class="date-box box-3 box-i-4 box-m-5 box-p-10">
        <a href="#" class="date">
            <p class="month">Nov</p>
            <p class="day">15</p>
        </a>
        <div class="options">
            <a href="#"><i class="fas fa-info"></i></a>
            <a href="#"><i class="fas fa-pencil-alt"></i></a>
            <a href="#"><i class="fas fa-print"></i></a>
            <a href="#"><i class="fas fa-trash-alt"></i></a>
        </div>
    </div>
    <div class="date-box box-3 box-i-4 box-m-5 box-p-10">
        <a href="#" class="date">
            <p class="month">Nov</p>
            <p class="day">15</p>
        </a>
        <div class="options">
            <a href="#"><i class="fas fa-info"></i></a>
            <a href="#"><i class="fas fa-pencil-alt"></i></a>
            <a href="#"><i class="fas fa-print"></i></a>
            <a href="#"><i class="fas fa-trash-alt"></i></a>
        </div>
    </div>
</div>
<a href="#" class="add-agenda-btn"><i class="fas fa-plus"></i></a>