<% if (agendas.length > 0) { %>
    <div class="dashboard flex-hc flex-vc">
        <h1 class="tac w100p fs40px mb15px">Agendas</h1>
            <% for (let agenda of agendas) { %>
                <div class="date-box box-3 box-i-4 box-m-5 box-p-10">
                    <a href="#" class="date">
                        <p class="month">Nov</p>
                        <p class="day"><%= agenda.meetingDay %></p>
                    </a>
                    <div class="options">
                        <a href="/view-agenda/<%= agenda._id %>"><i class="fas fa-info"></i></a>
                        <a href="/edit-agenda/<%= agenda._id %>?edit=true"><i class="fas fa-pencil-alt"></i></a>
                        <a href="#"><i class="fas fa-print"></i></a>
                        <a href="#"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </div>
            <% } %>
    </div>
<% } else { %>
    <p>No agendas yet? Create your first one!</p> <!-- TODO: Improve this message presentation-->
    <% } %>
<a href="/add-agenda" class="add-agenda-btn"><i class="fas fa-plus"></i></a>