<div class="dashboard flex-hc flex-vc">
        <a class="content-box box-4 box-i-5 box-m-6 box-p-12" href="/agendas">
            <figure>
                <img src="/img/dashboard/service1.jpg" alt="" class="dblock w100p">
            </figure>
            <br>
            <p class="tac tbold">Agendas</p>
        </a>
        <a class="content-box box-4 box-i-5 box-m-6 box-p-12" href="#">
            <figure>
                <img src="/img/dashboard/service2.jpg" alt="" class="dblock w100p">
            </figure>
            <br>
            <p class="tac tbold">Users</p>
        </a>
</div>